{{#link-to 'posts.new' tagName="button" class="button primary medium active"}}Add a New Post{{/link-to}}
  <hr>
{{#each model as |post|}}
  <strong>Released:</strong> {{post.publishedDate}}<strong>|</strong>
  <strong>Id:</strong> {{#link-to 'post' post}}{{post.id}}{{/link-to}} <strong>|</strong>
  <strong>Title:</strong> {{post.title}} <strong>|</strong>
  <strong>Body:</strong> {{post.body}} <strong>|</strong>
  <strong>Published:</strong> {{moment-format post.published 'MMM D, YYYY h:mm:ss A'}} <strong>|</strong>
  <button class="btn btn-danger remove" {{action 'deletePost' post}}><span class="fa fa-minus"></span> Remove</button>
{{/each}}

<br/>
<ul class="posts">
  {{#each model as |post|}}
    {{fire-post-slug post=post}}
  {{/each}}
</ul>
