<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-card-o fa-3x"></i>
    <span class="span-panel-heading"> Listing of the posts</span>
  </div>
  <div class="panel-body">
    {{#link-to 'admin.posts.new' tagName="button" class="button primary medium active"}}Add a New Post{{/link-to}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Message</th>
        <th>Published</th>
        <th>PublishedDate</th>
        <th><i class="fa fa-trash-o"></i><span> Destroy</span></th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |post|}}
      <tr>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td>{{moment-format post.published 'MMM D, YYYY h:mm:ss A'}}</td>
        <td>{{post.publishedDate}}</td>
        <td><button class="btn btn-danger remove" {{action 'deletePost' post}}><span class="fa fa-minus"></span> Remove</button></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
