<p>{{input type="checkbox" name="actionAsClosure" checked=useClosureAction}} Use closure action for (<code>displayDataChangedAction</code>)</p>

<h3>
  Handle user interaction with a component
  <small>simple table</small>
</h3>

{{#if useClosureAction}}
  {{models-table data=data columns=columns displayDataChangedAction=(action "myAction")}}
{{else}}
  {{models-table data=data columns=columns displayDataChangedAction="myAction" sendDisplayDataChangedAction=true}}
{{/if}}

<h3>
  Handle user interaction with a component
  <small>server paginated table - <u>usage only for RESTAdapter</u></small>
</h3>

{{#if useClosureAction}}
  {{models-table-server-paginated data=model columns=columns displayDataChangedAction=(action "myAction")}}
{{else}}
  {{models-table-server-paginated data=model columns=columns displayDataChangedAction="myAction" sendDisplayDataChangedAction=true}}
{{/if}}
