<strong>Id:</strong> {{model.id}} <strong>|</strong> <strong>Title:</strong> {{model.title}} <strong>|</strong> <strong>Body:</strong> {{model.body}} <strong>|</strong> <strong>Published:</strong> {{moment-format model.published 'MMM D, YYYY h:mm:ss A'}} <strong>|</strong> <strong>Released:</strong> {{model.publishedDate}}

<hr>

<div class="well-short">
  {{#link-to 'posts.index' tagName="button" class="button primary medium active"}}Back{{/link-to}}
</div>

<hr>

{{fire-post post=model isExpanded=true isSingle=true onPublishComment="publishComment"}}
